.EducationWrapper {
    background: inherit;
    /* padding: 4em; */
    margin-bottom: 1em;
    overflow: hidden;
}

@media (max-width: 601px) {
    .EducationWrapper {
        padding: 1em;
    }
}

.Educated {
    margin: auto;
    padding: auto;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(135, 170, 222, .8);
    width: 100%;
    min-width: 275px;
    max-width: 1000px;
}

.Educated h1 {
    color: white;
    padding-bottom: 0;
}

.Educated ul {
    list-style: none;
    width: 70%;
    margin: auto;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.Educated li {
    margin: auto;
    display: flex;
    place-content: center;
    padding: 1em;
}